body {
  border: 0;
  padding: 0;
  margin: auto;
  font-size: 13px;
  font-family: monospace;
}

input, div, table, table tr td {
  padding: 0;
  font-family: monospace;
}

a {
  display: none;
}

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
}

.content, .sidebar {
  margin: 0;
  border: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  max-width: calc(50% - 6px);
}

.content {
  border-right: solid 1px rgba(0,0,0,0.25);
}

.sidebar {
  border-left: solid 1px rgba(0,0,0,0.25);
}

.options {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: auto;
  max-height: calc(100vh - 43px);
  border-top: solid 1px rgba(0,0,0,0.05);
}

.title {
  border: 0;
  padding: 0;
  width: 100%;
  height: 42px;
  display: flex;
  margin: 0 auto;
  font-weight: 600;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.title .name {
  text-indent: 10px;
  user-select: none;
}

.title .name svg {
  margin: 0;
  fill: #555;
  pointer-events: none;
  vertical-align: middle;
}

.title .toolbar table {
  border-spacing: 0;
  table-layout: fixed;
}

.title .toolbar table tr td {
  padding: 0;
  width: 48px;
  height: 42px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  transition: 300ms ease all;
}

.title .toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.title .toolbar table tr td svg {
  fill: #555;
  pointer-events: none;
  vertical-align: middle;
}

.inactive {
  display: none;
}

.content table tr td:has(.actions) {
  height: 42px;
}

.actions {
  border: 0;
  padding: 0;
  width: 100%;
  height: 42px;
  display: flex;
  margin: 5px auto;
  align-items: center;
  justify-content: center;
  border-top: solid 1px rgba(0,0,0,0.05);
  border-bottom: solid 1px rgba(0,0,0,0.05);
}

.actions label,
.actions input,
.actions select {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 42px;
  display: inline-block;
  vertical-align: middle;
}

.actions input {
  text-indent: 5px;
}

.actions label {
  flex: 1;
  border: 0;
  color: #333;
  font-size: 13px;
  text-align: left;
  font-weight: 600;
  overflow: hidden;
  text-indent: 10px;
  white-space: nowrap;
  font-family: monospace;
  text-overflow: ellipsis;
  border-right: solid 1px rgba(132, 114, 100, 0.1);
}

.actions input, .actions select {
  border: 0;
  width: 50%;
  color: #333;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  text-indent: 10px;
  font-family: monospace;
}

.actions select {cursor: pointer}

.run, .download {
  border: 0;
  margin: 0;
  color: #fff;
  height: 42px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 42px;
  user-select: none;
  position: relative;
  text-align: center;
  align-items: center;
  font-family: monospace;
  justify-content: center;
  background-color: #88b32c;
}

.content table {
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  table-layout: fixed;
  border-spacing: 0 5px;
}

.source {
  margin: auto;
  height: 135px;
  position: relative;
  border-bottom: solid 1px rgba(0,0,0,0.05);
}

.source svg {
  fill: #83b023;
  position: absolute;
  pointer-events: none;
  top: calc(50% - 14px);
  left: calc(50% - 18px);
}

.source input {
  border: 0;
  margin: 0;
  color: #333;
  width: 100%;
  height: 100%;
  padding: 5px;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  font-family: monospace;
  box-sizing: border-box;
}

.result div {
  border: 0;
  padding: 0;
  width: 100%;
  color: #333;
  display: flex;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  align-items: center;
  background-color: #fff;
  font-family: monospace;
  box-sizing: border-box;
  justify-content: center;
  height: calc(100vh - 282px);
  max-height: 500px !important;
}

.result div:has(svg),
.result div:has(img) {
  background-color: #c1c1c1;
}

.result div svg,
.result div img {
  margin: auto;
  max-width: 400px;
  max-height: 400px;
  position: relative;
  vertical-align: middle;
  border: solid 1px rgba(0,0,0,0.25);
}

.order {
  left: 10px;
  color: #fff;
  bottom: 12px;
  fill: #83b023;
  font-size: 13px;
  text-align: left;
  line-height: 18px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  font-family: monospace;
}

.source .order {
  color: #333;
  bottom: 7px;
}

@media (max-width: 830px) {
  body {
    overflow: auto;
    box-sizing: border-box;
  }
  .content {
    height: auto;
  }
  .content, .sidebar {
    border: 0;
    display: block;
    max-width: unset;
  }
  .sidebar {
    margin: 0;
    height: 100%;
    border-top: solid 1px rgba(0,0,0,0.05);
  }
  .options {
    max-height: unset;
    overflow-y: unset;
  }
}

html[context="webapp"] .title .toolbar {
  display: none;
}